@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-zinc-900 h-full overflow-x-hidden;


}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
  
}


.navpanel {
  justify-content: space-between;
  box-sizing: border-box;
}

.navlogo {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;

}

