@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-zinc-900 h-full overflow-x-hidden;

  --zinc-400: @apply zinc-300;

}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
  
}


.navpanel {
  justify-content: space-between;
  box-sizing: border-box;
}

.navlogo {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;

}
.carousel-text {
  position: absolute;
}

#carousel-image, #carousel-header {
  border-top-left-radius: 60%;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 40%;
  border-top-right-radius: 40%;
  overflow: hidden;
}
